* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

:root {
    --border-preset: 2px solid black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

header {
    position: absolute;
    top: 64px;
    font-size: 2rem;
}

.result-container {
    font-size: 4rem;
    color:rgb(215, 4, 102)
}


.game-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    font-size: 4rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: white;
    padding: 64px;
}

.piece {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.piece-0 {
    border-bottom: var(--border-preset);
    border-right: var(--border-preset);
}

.piece-1 {
    border-bottom: var(--border-preset);
}

.piece-2 {
    border-bottom: var(--border-preset);
    border-left: var(--border-preset);
}

.piece-3 {
    border-right: var(--border-preset);
}

.piece-5 {
    border-left: var(--border-preset);
}

.piece-6 {
    border-top: var(--border-preset);
    border-right: var(--border-preset);
}

.piece-7 {
    border-top: var(--border-preset);
}

.piece-8 {
    border-top: var(--border-preset);
    border-left: var(--border-preset);
}

.reset-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
}